In [1]:
import json,pprint
import pandas as pd
pp = pprint.PrettyPrinter(indent=4)

In [2]:
def yield_dict(path):
    with open(path, "r") as json_file:
        for line in json_file:
            yield json.loads(line)

def get_n_lines(path):
    with open(path) as f:
        return len(f.readlines())

In [9]:
path = "./el_oscar/el_meta_part_1.jsonl"

dict_generator = yield_dict(path)
# print(get_n_lines(path))

170319

In [12]:
df = pd.DataFrame({'harmful_pp':None, 'tlsh': None}, index=[0])
for doc in dict_generator:
    
    # print(doc.keys())
    # print('\n')
    # pp.pprint(doc['metadata'])
    df2 = pd.DataFrame(data={'harmful_pp': doc['metadata']['harmful_pp'],'tlsh':doc['metadata']['tlsh']}, index=[0])
    df = pd.concat([df, df2])
    # pp.pprint(doc['metadata']['harmful_pp'])

In [15]:
df

    harmful_pp                                               tlsh
0          NaN                                               None
0    4568.1963  tlsh:T105C21B5125B5DA35E0A3615B53CAB619A12414F...
0    7861.3060  tlsh:T1EB036D019CE59C38E002212393CE9146D25811A...
0    6612.9243  tlsh:T164514B11CCBA1C36E0D3BCA7B0CEE508A10459E...
0   26658.6700  tlsh:T1ED932993C5F80C02D2B59799A1D11ACE7991F93...
..         ...                                                ...
0    3179.4482  tlsh:T1DA7F8A7148B2AD76E0A35427A2CAA615A51416F...
0    7631.8423  tlsh:T1F445CF5148715DBAF073692BD6CED606B22419E...
0    7989.0370  tlsh:T179CA623157F46C3B80237023C2CA9B0AF66119F...
0    8093.2290  tlsh:T17048295168B29C7DE023542B93CAA214A11004E...
0    7981.5405  tlsh:T1AD66A7C133758E39D053996792DEA105122019F...

[170318 rows x 2 columns]