TODO:
- Sort by lower harmful_pp;
- plot std for harmful_pp;
- print lowest with harmful_pp;

In [3]:
import json,pprint
import pandas as pd
pp = pprint.PrettyPrinter(indent=4)

In [4]:
def yield_dict(path):
    with open(path, "r") as json_file:
        for line in json_file:
            yield json.loads(line)

def get_n_lines(path):
    with open(path) as f:
        return len(f.readlines())

In [9]:
path = "./pt_meta/pt_meta_part_1.jsonl"

dict_generator = yield_dict(path)
# print(get_n_lines(path))

In [10]:
df = pd.DataFrame({'harmful_pp':None, 'tlsh': None}, index=[0])
for doc in dict_generator:
    
    # print(doc.keys())
    # print('\n')
    # pp.pprint(doc['metadata'])
    df2 = pd.DataFrame(data={'harmful_pp': doc['metadata']['harmful_pp'],'tlsh':doc['metadata']['tlsh']}, index=[0])
    df = pd.concat([df, df2])
    # pp.pprint(doc['metadata']['harmful_pp'])

In [11]:
df

    harmful_pp                                               tlsh
0          NaN                                               None
0    2700.7876  tlsh:T1DDA528F0028A73883EF608F7D33E9B9264F798C...
0    1350.3992  tlsh:T1D96C145172225600AFE222E4C46FD7809AB0F49...
0    3570.9536  tlsh:T1D91FD6D1C8219B421FF30AD0A6A79F9061F0A04...
0    1959.5774  tlsh:T1CE1BD671A459E7102AF00DBAE56BD78148F0F04...
..         ...                                                ...
0    4333.6320  tlsh:T15842CC71762A3F04FFF133D4C892176049E6A4A...
0    1323.7716  tlsh:T1A01602B02B1A9B252BC283DB005055C010B4E1D...
0    1369.2996  tlsh:T1C5F9E8F00E9A43141BD347CDF07D9F4E0D44355...
0   34871.2930  tlsh:T12C51C931FCAE7380C53206B2EAC609B501F8DCA...
0    5861.7050  tlsh:T192F63B4102E773CAAFE907ED8A418F615C22ED6...

[257978 rows x 2 columns]

In [12]:
df.sort_values(by='harmful_pp')

      harmful_pp                                               tlsh
0   1.462030e+00  tlsh:T1659840D0971B81828CF04318B322471308CCF03...
0   1.537582e+00  tlsh:T15E3418B0921AA74009CBD8B8C66D4A54811C249...
0   1.537582e+00  tlsh:T15E3418B0921AA74009CBD8B8C66D4A54811C249...
0   1.537582e+00  tlsh:T15E3418B0921AA74009CBD8B8C66D4A54811C249...
0   1.537582e+00  tlsh:T15E3418B0921AA74009CBD8B8C66D4A54811C249...
..           ...                                                ...
0   2.554715e+06  tlsh:T11F7A2363EDA61F30035F03452AD6FB1D3980969...
0   2.581844e+06  tlsh:T1C4B2C963EDA61F30035F03452AD6FB1D3980969...
0   2.644188e+06  tlsh:T1F860AB63DCA61F30035F03452AD6FB1D3980969...
0   2.644246e+06  tlsh:T14A6B8963DCA61F30035F03452AD6FB1D3980969...
0            NaN                                               None

[257978 rows x 2 columns]